@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
    -webkit-text-fill-color: inherit;
    box-shadow: 0 0 0 1000px transparent inset;
    transition: color 9999999999s, background-color 9999999999s;
  }